.Header-component {
	background-color:#083f4d;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.builderDiv { 
    float:left;  
    width:33%; 
    height:20px; 
    font-size: 18pt;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 2pt;
    padding-bottom: 2pt;
    cursor: pointer;
} 

.builderDiv:hover { 
    background-color: darkmagenta;
    color: rgb(255, 255, 255);
} 

.resultsDiv { 
    float:left;  
    width:33%; 
    height:20px; 
    font-size: 18pt;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 2pt;
    padding-bottom: 2pt;
    cursor: pointer;
}

.resultsDiv:hover { 
    background-color: darkmagenta;
    color: rgb(255, 255, 255);
} 

.mlSearchDiv { 
    float:right; 
    width:33%; 
    height:20px; 
    font-size: 18pt;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 2pt;
    padding-bottom: 2pt;
    cursor: pointer;
} 

.mlSearchDiv:hover { 
    background-color: darkmagenta;
    color: rgb(255, 255, 255);
} 

