.errorDiv {
    position:relative;
    padding: 100pt;
}

.visualiser-header {
    font-size: larger;
}

.header-space {
	background-color:#083f4d00;
    z-index: 0;
    width: 100%;
	padding-top: 50pt;
	height: 10pt;
}

.model-details {
	display: table;
	width: 100%;
}

.all-results-div {
	float: right;
	padding: 10pt;
	display: table-cell;
	width: 45%;
}

.model-details-vars-div {
	float: left;
	padding: 10pt;
	display: table-cell;
	width: 45%;
}

.model-details-other-div {
	padding: 10pt;
	display: table;
	width: 100%;
}

.countries-div {
	float: left;
	padding: 10pt;
	display: table-cell;
	width: 45%;
}

.years-div {
	float: right;
	padding: 10pt;
	display: table-cell;
	width: 45%;
}